<!doctype html>
<html>
<head>
    <title>Create New Project</title>
</head>

<body>

  <form action="/create-project", method='POST'>
      <label>Enter project name :
          <input type="text" name="title"><br>
      </label>
      <label>Enter project information :
          <input type="textarea" name="description"><br>
      </label>
      <label>Enter max grade
          <input type="text" name="max_grade"><br>
      </label>
      <input type="submit" value="Display Project">
  </form>

</body>
</html>